/* =========================
   FONT
========================= */

/* rye-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rye";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/rye-v17-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* =========================
     RESET
========================= */

*{
  box-sizing: border-box;
}

/* =========================
   GLOBAL
========================= */

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/image/bg_photo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Rye";
}



